@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* :root {
  --background: yellow;
  --foreground: green;

}
.dark {
  --background: red;
  --foreground: black;
} */

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}